.HomeContainer {
  min-height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  min-height: 90vh;
  margin-top: 30px;
}

.meet-heading {
  color: #334155;
  font-size: 40px;
  font-family: 'Roboto';
  margin: 5px;
}

.welcome-heading {
  color: #2563eb;
  font-size: 55px;
  font-family: 'Roboto';
  margin: 0px;
}

.meet-description {
  color: #475569;
  font-size: 20px;
  font-family: 'Roboto';
  margin: 15px;
}

.Welcome-description {
  color: #475569;
  font-size: 26px;
  font-family: 'Roboto';
  margin: 5px;
  font-weight: bold;
}

.registerBtn {
  height: 36px;
  width: 90px;
  color: #ffffff;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.meetupImg {
  height: 280px;
  width: 400px;
  margin-top: 20px;
}

.nav-links {
  text-decoration: none;
}
